html, body {
   height: 100%;
}
#login_wrapper{
  min-height:364px;
  background-color:#fff;
  box-shadow:2px 2px 5px 1px rgba(0,0,0,0.15);
  -moz-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.15);
  -webkit-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.15);
  -ms-box-shadow:2px 2px 5px 1px rgba(0,0,0,0.15);
  padding: 48px 0;
    position: relative;
  top: 30%;
}
.vertical-align {
  height: 364px;
}
#rackspace_logo_container{
  background:transparent url('/images/logo-rackspace-managed-cloud-company.png') no-repeat;
  background-position:center center;
  width:250px;
  height:57px;
  display:inline-block;
  margin-top:95px;
  padding:40px 49px
}
#auth_login_block{
  padding:30px 0 30px 49px;
  float: left;
  margin: 28px 0;
  border-left: 1px solid #ddd;
  font-size: 13px;
}

h2.rs-page-title {
	/*padding: 40px;*/
}
.pull-bottom {
	vertical-align: bottom;
	margin-bottom: 0%;
}
.repose-ul li{
	font-size: 20px;
	list-style-type: none;
	line-height: 1.5em;
}

#main-navbar {
	position: relative;
	margin: 0 auto;
	width: 80%;
}


/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../client/bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../client/bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../client/bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../client/bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../client/bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../client/bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../client/bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../client/bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../client/bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../client/bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.repose-wrapper div.row{
	font-size: 25px;
	font-family: "Source Sans Pro","Helvetica Neue",sans-serif;
	font-weight: 300;
	margin-bottom: 1em;
}
.repose-wrapper {
    padding: 40px 10% 0 10%;
	margin-top: 50px;
}